<section class="users-list-main-container">
    <div class="users-container">
        <div class="header">
            <h3>Friends</h3>
        </div>

        <div class="users-grid">
            <%= render @users %>
        </div>
    </div>
</section>