// Place all the styles related to the friendships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$danger-color: rgb(224, 36, 94);
$green-color: #3ac47d;
$gray-color: #6c757d;
$blue: #1876f2;
$white: #fff;
.control-btn {
  border: none !important;
  &.remove {
    background-color: $danger-color !important;
    color: $white !important;
  }
  &.pending {
    background-color: $gray-color !important;
    color: $white !important;
  }
  &.reject {
    background-color: $danger-color !important;
    color: $white !important;
    margin-right: 0.3rem;
  }

  &.confirm {
    background-color: $green-color !important;
    color: $white !important;
  }

  &.add {
    background-color: $blue !important;
    color: $white !important;
  }
}
